* {
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: lightslategray;
}

form {
    border-radius: 5px;
    background-color: white;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    text-align: left;
}

h1 {
    text-align: left;
}

.wrap {
    text-align: center;
}

.content {
    margin: 10px 10px 10px 10px;
}

form input {
    display: block;
    width: 100%;

}

form textarea {
    display: block;
    width: 100%;
}

.radio {
    display: flex;
    flex-direction: row;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

input[type="submit"] {
    background-color: green;
    color: white;
}

input[type="reset"] {
    background-color: red;
    color: white;
}